html{
    margin:0;
    padding:0;
}
*, *::after, *::before{
    margin: inherit;
    padding:inherit;
    box-sizing: border-box;
}

#header{
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
}
