html{
    margin:0;
    padding:0;
  
}
*, *::after, *::before{
    margin: inherit;
    padding:inherit;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    color: black;

}
#header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#header > #header-img{
    width: 300px;
    height: 40px;
}

#header #nav-bar{
    width: 600px;
    height: 80px;
}
#header #nav-bar >.nav{
     height: 40px;
}
#header > #header-img, #header #nav-bar >.nav{
    padding: 5px 0;
}
#header > #header-img, #header #nav-bar >.nav{
     margin: 15px;
}
#header #nav-bar .nav > .navitem{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    margin-top: 0;
}

#nav-bar .nav .navitem .nav-link{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}
main{
    width: 75vw;
    margin: auto;
}
main > h1{
    text-align: center;
    font-size: 25px;
}

main #form{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
}
#form #email{
    width: 300px;
    height: 30px;
    padding: 10px;
}
#form input[type="submit"]{
     width: 150px;
     height: 30px;
     background-color: #F1C40E;
     border: none;
     transition: background-color 2s;
}

#form input[type="submit"]:hover{
    background-color: #f1780e;
}

