html{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
*, *::after, *::before{
    margin: inherit;
    padding:inherit;
    box-sizing: border-box;
}

#header{
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

#header  #header-img{
    width: 300px;
    height: 40px;
    background-color: gray;
}

